.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.timer__ticker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151932;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.45);
}